* {
  border: 1px solid rgba(0,0,0,0.3);
  font-family: helvetica, serif;
}
body {
/*I don't like this image after all as a background-image.
background-image: url("images/IMG_1117.JPG");*/
background: rgba(0,0,0,.8);
background-image: url("http://www.worldfolksong.com/songbook/hawaii/img/pearl01.jpg");
background-repeat: no-repeat;
background-size: 100% 130%;
overflow: scroll;
text-align: center;
}
h1 {
  background-color: LightSeaGreen;
  color: brown;
  font-family: helvetica;
  font-size: 20px;
  /*height: 50px;
  width: 700px;
  min-width: 600px;
  max-width: 1000px;*/
  border-style: groove;
  border-width: 10px 2px 10px 2px;
  border: 5px groove rgba(0,0,0,0.3);
  border-width: 10px 2px 10px 2px;
  /*create a border that is a perfect circle by setting the radius equal to the height of the box or to 100%*/
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}
#personality {
  font-family: "Calisto MT", serif;
}
p {
  font-size: 15px;
  font-style: normal;
  font-weight: bolder;
  margin: 10px;
  margin: 20px 10px;
  overflow: scroll;
}
#unique-p-tag {
  text-align: center;
}
.titleGuessingGameQuestions{
  text-transform: uppercase;
}
.guessingGameQuestions {
  font-weight: bold;
}
#NW-plants {
  font-size: 18px;
  font-style: oblique;
footer {
  font-style: italic;
  color: purple;
  font-weight: bolder;
}
