* {
  /*border: 1px solid rgba(0,0,0,0.3);*/
  font-family: helvetica, serif;
  margin: auto;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 1.4em;
  color: black;
  /*grey with opacity*/
  background-color:rgba(192,192,192,0.3);
  font-weight: bolder;
}

body {
background: rgba(0,0,0,.8);
background-image: url("images/IMG_0083.JPG");
/*background-image: url("http://www.worldfolksong.com/songbook/hawaii/img/pearl01.jpg");*/
background-repeat: no-repeat;
background-size: 160% 100%;
overflow: scroll;
text-align: center;
font-weight: bolder;
}

h1 {
  background-color: LightSeaGreen;
  color: brown;
  font-family: helvetica;
  font-size: 25px;
  /*height: 50px;
  width: 700px;
  min-width: 600px;
  max-width: 1000px;*/
  border-style: groove;
  border: 5px groove rgba(0,0,0,0.3);
  border-width: 10px 2px 10px 2px;
  /*create a border that is a perfect circle by setting the radius equal to the height of the box or to 100%*/
  /*border-radius: 100%;*/
  padding: 10px;
  margin: 0px;
  text-transform: uppercase;
  height: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#education {
color: black;
}

.page-content {
color: black;
}

#opening-statement {
  margin-top: 100px;
  color:black;
}

#personality {
  font-family: "Calisto MT", serif;
}

#work-experience {

}
p {
  font-style: normal;
  font-weight: bolder;
  margin: 10px;
  margin: 20px 10px;
  overflow: scroll;
}

#past-job-list {
  color: black;
}

#unique-p-tag {
  text-align: center;
}
.titleGuessingGameQuestions{
  text-transform: uppercase;
}
.guessingGameQuestions {
  font-weight: bold;
}
.list {
  line-height: 1.4em;
}

#favorite-places {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}


ul {
  margin: 15px auto;
  width: 60%;
  /*margin: 0 0 10px 0;*/
  color: 	black;
}

#NW-plants {
  width: auto;
  font-style: normal;
  text-align: center
  position: center;
  color: black;
  font-weight: bolder;
}

ol {
  text-align: center;
  list-style-position: inside;
  color: black;
}

#most-favorite-plant {
  color: black;
}

footer {
  font-style: italic;
  color: black;
  font-weight: bolder;
}
