body {
/*I don't like this image after all as a background-image.
background-image: url("images/IMG_1117.JPG");*/
background: rgba(0,0,0,.8);
background-image: url("http://www.worldfolksong.com/songbook/hawaii/img/pearl01.jpg");
background-repeat: no-repeat;
background-size: 100% 130%;


}

h1 {
  background-color: LightSeaGreen;
  color: brown;
  font-family: helvetica;
  font-size: 40px;
}
#personality {
  font-family: "Calisto MT", serif;

}
p {
  font-size: 22px;
  font-style: normal;
  font-weight: bolder;
}
